/* @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Courgette&family=Nanum+Myeongjo&family=Quintessential&family=Tangerine:wght@400;700&display=swap'); */

.navbar-brand {
  font-family: 'Quintessential', cursive;
}

.navbar {
  background-color: #1b222c;
}

.testCard {
  height: 80vh;
}

.card-body {
  background-color: rgba(240, 248, 255, 0);
}
